<div class='page-title'>
    <h1 class= "nobutton">Authors</h1>
</div>

<div class='authors'>
    <% @authors.sort_by{|author| author.name}.each do |author| %>
        <%= link_to author.name, author_path(author) %> <br>
    <% end %>
</div>