<div class="page-title">
    <h1>Search Results</h1>
    <p class="link-wrapper"><%= link_to "New Search", books_path, class: "button" %></p>
</div>
<div>
    <% @bookobjects.each do |array| %>
        <%= link_to @book_title = array[1].title, book_path(array[1])%> by
        <%= link_to @book_author = array[0].name, author_path(array[0])%> <br>
    <% end %>
</div>