/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background-color: azure
}


div {
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 800px;
    padding: 2em 2em 2em;
}

div.page-title {
    padding: .5em 2em .5em;
}

div.form {
    padding: 2em 2em 4em;
}

div.errors {
    color: orangered;
}

ul.reviews {
    list-style: none;
}

a{
    font-family: inherit;
    font-size: inherit;
    text-shadow: grey;
    text-decoration: unset;
}

a:link {
    color: darkcyan;
}

a:visited {
    color: indigo;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

a:active {
    color: lightcoral;
    text-decoration: underline;
}

p.link-wrapper {
    margin-top: 0em;
}

h1 {
    margin-bottom: 0em;
}

a.button {
    background-color: lavender;
    color: inherit;
    padding: .5em .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

input.btn {
    background-color: lavender;
    color: inherit;
    padding: .5em .5em .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.btn {
    background-color: lavender;
    color: inherit;
    padding: .5em .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

select, textarea, input {
    font-family: inherit;
}

label {
    width:100px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float: left;
}