// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.all-links input{
    float: right;
    background-color: lavender;
    color: inherit;
    padding: .5em .5em .5em;
    text-align: center;
    text-decoration: none;
}

.all-links h1 {
    display: inline-block;
    margin-top: .5em;
    margin-bottom: .5em;
}

.all-links form {
    float: right;
    padding-top: .5em;
}