<div class="page-title">
    <h1>New Review
    <% if session[:book_id] %>
        <%= "of " + Book.find(session[:book_id]).title%>
    <% end %>
    </h1>
</div>
<div class='form'>
    <%= render 'form' %>
</div>